{% extends 'base.html' %}

{% block title %}
Dark_Exhaust
{% endblock %}

{% block content %}
<h1>Dark_Exhaust</h1>
<p>Наша компания может помочь Вам с изготовлением выхлопной системы.
Мы можем изготовить резонатор индивидкально под Ваш мотоцикл и его характеристики.
Ознакомиться с нашей готовой продукцией Вы можете во вкладке <a href="{{ url_for('shop') }}">Все товары</a>.
Если вы не нашли подходящую модель, то можете сделать персональный заказ во вкладке <a href="{{ url_for('personal') }}">Персональный заказ</a>.</p>
{% endblock %}

