{% extends "base.html" %}

{% block title %}
Dark_Exhaust
{% endblock %}

{% block content %}
<div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/чз513.jpg') }}">
            <div class="card-body">
              <p class="card-text">Резонатор на Чезет 513</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/минск-по-верху.jpg') }}">
            <div class="card-body">
              <p class="card-text">Резонатор на Минск по верху</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/муфлер-неразборный.jpg') }}">
            <div class="card-body">
              <p class="card-text">Муфлер универсальный неразборный</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/сова-низ.jpg') }}">
            <div class="card-body">
              <p class="card-text">Резонатор на Сову по низу</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/конус-сова.jpg') }}">
            <div class="card-body">
              <p class="card-text">Комплект конусов для установки выхлопной системы на Сову</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/конус-минск.jpg') }}">
            <div class="card-body">
              <p class="card-text">Комплект конусов для установки выхлопной системы на Минск</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/минск-низ-лев.jpg') }}">
            <div class="card-body">
              <p class="card-text">Резонатор на Минкс по низу по левой стороне</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/минск-низ-прав.jpg') }}">
            <div class="card-body">
              <p class="card-text">Резонатор на Минкс по низу по правой стороне</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename='img/муфлер-разборный.jpg') }}">
            <div class="card-body">
              <p class="card-text">Муфлер универсальный разборный</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-success" href="/order">Купить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
</div>
{% endblock %}